attrs==22.2.0
autopep8==2.0.1
certifi==2023.7.22
charset-normalizer==3.0.1
customtkinter==5.0.5
darkdetect==0.8.0
hidapi==0.13.1
idna==3.4
intellimouse-ctl==1.0.0
isodate==0.6.1
lxml==4.9.2
platformdirs==2.6.2
pycodestyle==2.10.0
pytz==2022.7.1
requests==2.28.2
requests-file==1.5.1
requests-toolbelt==0.10.1
six==1.16.0
tk==0.1.0
tomli==2.0.1
urllib3==1.26.14
zeep==4.2.1
